.image-1 {
  width: 228px;
  margin-right: 270px;
}

.image-sylvain {
  max-width: 330px;
}

.img-team {
  width: 140%;
  max-width: 100%;
  height: auto;
}

.img-brewery img {
  position: relative;
  bottom: 110px;
  max-width: 280%;
  right: 196px;
}

.img-footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.img-footer img {
  max-height: 100%;
}

.img-estavayer {
  padding: 90px 10px;
}

.img-producteur {
  position: relative;
  max-width: 160px;
  left: 470px;
  bottom: 260px;
}

.img-pint img {
  max-width: 220%;
  position: relative;
  top: 3px;
  left: 20px;
}
