.newsletter {
  margin: 0 0 160px 0;
}
.newsletter h3 {
  text-align: center;
  margin-bottom: 20px;
}

.newsletter p {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}
