.valeurs .button-custom {
  font-family: "Space Grotesk";
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.valeurs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  padding-top: 50px;
}

.valeurs h3,
.valeurs p {
  margin-bottom: 20px;
  margin-top: 0;
}
