/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
/* ====================================
// base rules
// ==================================== */

body {
  font-family: "Space Grotesk";
  background-color: #f1f1f1;
}
h1 {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.nav {
  display: block;
  text-align: center;
}

.intro-title {
  text-align: left;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.image-1 {
  width: 649px;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.offre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.description {
  text-align: center;
}

.description-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h3 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-sylvain {
  max-width: 330px;
}

.about p {
  margin-right: 260px;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.avis {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.avis-person .comment {
  text-align: center;
  padding: 0 150px;
}

.avis-person a {
  text-decoration-line: underline;
}

.newsletter h3 {
  text-align: center;
}

.newsletter p {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.formulaire {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form[action="/newsletter"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-icons {
  max-width: 24px;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.form-control {
  background-color: transparent;
  border: 3px solid black;
  color: black;
}

.img-footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-footer img {
  max-height: 100%;
}
