/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: #f1f1f1;
//   border: 1px solid #a4a0a0;
// }

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "Space Grotesk";
  background-color: #f1f1f1;
}

h1 {
  display: block;
  margin: 0 auto;
  max-width: 240px;
  padding-bottom: 70px;
}

h3 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a:hover {
  text-decoration: underline;
  font-weight: 800;
}
