/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: #f1f1f1;
//   border: 1px solid #a4a0a0;
// }

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "Space Grotesk";
  background-color: #f1f1f1;
}
h1 {
  display: block;
  margin: 0 auto;
  max-width: 240px;
  padding-bottom: 70px;
}

.nav {
  display: block;
  text-align: center;
}

.nav-practical {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
}
.intro-title {
  text-align: left;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.image-1 {
  width: 228px;
  margin-right: 270px;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -140px;
  padding-bottom: 80px;
}

.offre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: 2px black solid;
  margin: 0 -130px;
}

.description {
  text-align: center;
}

.description-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottles {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 0 100px 0;
}

.beer-card {
  margin: 0 20px 0 20px;
}

h3 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-sylvain {
  max-width: 330px;
}

.about p {
  margin-right: 260px;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.avis {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.avis-person .comment {
  text-align: center;
  padding: 0 150px;
}

.avis-person a {
  text-decoration-line: underline;
}

.review {
  display: flex;
  flex-direction: row;
  padding: 100px 0;
}

.review h3 {
  margin-bottom: 40px;
}

.img-pint img {
  max-width: 220%;
  position: relative;
  top: 3px;
  left: 20px;
}

.newsletter h3 {
  text-align: center;
}

.newsletter p {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.formulaire {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form[action="/newsletter"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-icons {
  max-width: 24px;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.img-team {
  width: 140%;
  max-width: 100%;
  height: auto;
}

.img-brewery img {
  position: relative;
  bottom: 43px;
  max-width: 280%;
  right: 196px;
}

.team h3 {
  margin-bottom: 40px;
}

.team p {
  margin: 80px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.form-control {
  background-color: transparent;
  border: 3px solid black;
  color: black;
}

.img-footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-footer img {
  max-height: 100%;
}

.button-custom {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-custom:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-custom:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
